.movie-card {
    /* border: 1px solid red; */
    width: 30%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s; /* Add a smooth transition for the scaling effect */

    /* Initial state */
    transform: scale(1);

    &:hover {
        transform: scale(1.1); 
    }
}

.movie-card > img {
    width: 100%;
    border-radius: 10px;
}

.movie-card > img:hover {
    opacity: 0.5;
}

.hover-text {
    position: absolute;
    top: 120px;
    left: 10px;
    
}

.hover-text > h2 {
    font-size: 18px;
    font-weight: 400;
    color: yellow;
}

.hover-text >p {
    font-size: 13px;
    color: #e3dede;
    font-weight: 300;
}



.hover-button {
    position: absolute;
    top: 160px;
    left: 12px;
    /* transform: translate(-50%, -50%); */
    display: block; /* initially hidden */
    padding: 7px 15px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 6px;

  }
  
  .text {
    transition: 1s ease;
  }
  
  .upward {
    transform: translateY(-50px);
  }