.all-movies-container {
    background: #000;
    color: #fff;
    padding: 20px 25px;
}

.more {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--secondary);
    padding: 10px 22px;
    font-size: 14px;
    text-decoration: none;
    transition: 1s ease;
}

.more:hover {
    background-color: var(--secondary);
    color: #fff;
    border: none;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.all-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

