.all-movies-container {
    background: #000;
    color: #fff;
    padding: 15px 25px;
}

.all-movies-container > h1 {
    padding-bottom: 18px;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}